.section-title h2 {
  position: relative;
  font-size: 80px;
  font-family: 'Joyful';
  margin-bottom: 50px;
  color: #649e93;
  padding-bottom: 30px;
}

.section-title h2:before {
  position: absolute;
  content: '';
  background: url(../../images/section-title.png);
  width: 20%;
  height: 89%;
  bottom: -40px;
  left: 41%;
}
.section-title {
  text-align: center;
}

@media (max-width: 767px) {
  .section-title h2 {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
